<%- include("partials/header") %>

<div class="container">
<header class="jumbotron">
	<div class="container">
		<h1>
		Welcome to YelpCamp
	</h1>
	<p>
		View our hand-picked campgrounds from all over the world!
	</p>
	<hr class="my-4">
	<p>
	
	</p>
	<a class="btn btn-primary btn-lg"href="/campgrounds/new">Add New Campground</a>
	</div>
	
</header>

<div class="row" style="display:flex; flex-wrap:wrap">
	<% for(el of list) { %>
	<div class="col-xs-12 col-md-4 col-lg-3 f-flex flex-wrao">
		<div>
			<img class="img-fluid" src="<%=el.image %>"> 
		<div class="figure-caption">
			<h6>
				<%=el.name%>
			</h6>	
		</div>
			<a href="/campgrounds/<%=el._id%>" class="btn btn-primary btn-lg"> More Info </a>
		</div>
		
	</div>	
<% } %>	
</div>
	

	
</div>
<%- include("partials/footer") %>